div {
  text-align: center;
  font-size: 20px;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}

.computer {
  float: left;
}

.player {
  float: right;
}

.title{
    /* vertical-align: middle; */
    margin: auto;
}

hr {
  width: 300px;
}

.animation{
  animation-name: move;
  animation-duration: 3s;
}

@keyframes move {
  0% { transform: translateY(0); }
  20% { transform: translateY(50px); }
  40% { transform: translateY(0px); }
  60% { transform: translateY(50px); }
  80% { transform: translateY(0px); }
  100% { transform: translateY(50px); }
}